# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]

# This group is read by the server
[mysqld]
datadir = /var/lib/mysql                            # 数据库数据文件存放目录
log_error = /var/log/mysql/error.log                # 记录错误日志文件
slow_query_log=ON                                   # 开启慢查询日志
long_query_time=10                                  # 慢查询日志的指定超时时长，单位是秒
slow_query_log_file=/var/log/mysql/slow_query.log    # 慢查询日志存放位置
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect = 'SET NAMES utf8mb4'
skip-character-set-client-handshake = true

# binary logging is required for replication
log-bin=mysql-bin

# binary logging format - mixed recommended
binlog_format=mixed

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
!includedir /etc/my.cnf.d
